{{> header }}

{{> navbar }}


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Sobre nosotros</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere explicabo facilis suscipit odit itaque quia vitae doloribus sapiente perspiciatis eligendi corporis eum, neque incidunt quae provident, iste aliquid libero.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere explicabo facilis suscipit odit itaque quia vitae doloribus sapiente perspiciatis eligendi corporis eum, neque incidunt quae provident, iste aliquid libero.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere explicabo facilis suscipit odit itaque quia vitae doloribus sapiente perspiciatis eligendi corporis eum, neque incidunt quae provident, iste aliquid libero.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere explicabo facilis suscipit odit itaque quia vitae doloribus sapiente perspiciatis eligendi corporis eum, neque incidunt quae provident, iste aliquid libero.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere explicabo facilis suscipit odit itaque quia vitae doloribus sapiente perspiciatis eligendi corporis eum, neque incidunt quae provident, iste aliquid libero.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere explicabo facilis suscipit odit itaque quia vitae doloribus sapiente perspiciatis eligendi corporis eum, neque incidunt quae provident, iste aliquid libero.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos facere explicabo facilis suscipit odit itaque quia
            vitae doloribus sapiente perspiciatis eligendi corporis eum, neque incidunt quae provident, iste aliquid libero.</p>
        </div>

        <div class="col-md-4">
            <img src="/assets/img/805c19c935c28f1f09fb08a413735d1e.jpg" alt="..." class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer}}